<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_URI} !^public
RewriteRule ^(.*)$ public/$1 [L]
RewriteCond %{HTTP_HOST} ^sezofficiel.herokuapp\.com$ [NC]
RewriteRule ^(.*)$ http://sezofficiel.herokuapp.com/$1 [R=301,L]
</IfModule>